{%extends 'base.html'%}

{%block head%}
<nav id="index-nav">
  <ul id="index-ul">

    <i class="fas fa-home icon-home"></i>
    <li><a href="#" id="home" class="mr-2">Home </a></li>
    <i class="fas fa-bolt icon-moment"></i>
    <li><a href="#" id="moment" class="mr-2">Moments</a></li>
    <i class="fas fa-bell icon-notification"></i>
    <li><a href="#" id="notification" class="mr-2">Notifications</a></li>
    <i class="fas fa-envelope icon-message"></i>
    <li><a href="#" id="message" class="mr-2">Messages</a></li>
    <i class="fas fa-suitcase icon-portfolio"></i>
    <li><a href="#" id="portfolio">Portfolio</a></li>

    <div id="user-image-nav">
     <img src="https://media.giphy.com/media/Lb4IZLmCfALhm/giphy.gif" class="nav-img">

     <div class="list-container">
       <li><a href="#">Profile</a></li>
       <li><a href="#">Lists</a></li>
       <li><a href="#">Moments</a></li>
       <hr>
       <li><a href="#">Settings and Privacy</a></li>
       <li><a href="#">Help Center</a></li>
       <li><a href="#">Log out</a></li>
       <hr>
       <li><a href="#">Night mode</a></li>
     </div>
   </div>
       </img>
  </ul>
</nav>
{%endblock head%}

{% block content%}

{%endblock content%}
